* {
  font-family: 'Roboto', sans-serif;
}
/* top nav */
.top-nav {
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #1F2937;
}
.top-nav__logo {
  flex: 1 0 100;
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}
.top-nav__links {
  flex: auto;
}
.top-nav__links ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 10px;
  font-size: 18px;
  color: #E5E7EB;
}
/* hero */
.hero {
  padding-left: 100px;
  padding-right: 100px;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}
.hero__content {
  flex: 1 0 50%;
  flex-wrap: wrap;
}
.hero__content > h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8
}
.hero__content > p {
  font-size: 18px;
  color: #E5E7EB;
  flex-wrap: wrap;;
}
.hero__image {
  flex: 0 1 100;
  align-self: end;
}
/* buttons */
button {
  background-color: #3882F6;
  border: none;
  border-radius: 6px;
  color: #F9FAF8;
  width: 75px;
  height: 25px;
}
button:hover {
  background-color: #F9FAF8;
  color: #3882F6;
}
.cta > button {
  border: 1px solid #F9FAF8;
}
/* main */
.main {
  display: flex;
  flex-direction: column;
}
.main > h2 {
  display: flex;
  justify-content: center;
}
.main__container {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
}
.main__container > img {
  border-radius: 6px;
}
.main__container > p {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}